In [1]:
import pandas as pd

In [3]:
df= pd.DataFrame(data=[32,34,39,41,25,36,45,31,29,51,38],columns=["Age"])

In [4]:
df

    Age
0    32
1    34
2    39
3    41
4    25
5    36
6    45
7    31
8    29
9    51
10   38

In [9]:
df.Age.std()

7.4614159026774045

In [5]:
#Import library
from sklearn.preprocessing import StandardScaler
sc_X = StandardScaler()
sc_X = sc_X.fit_transform(df)
#Convert to table format - StandardScaler 
sc_X = pd.DataFrame(data=sc_X, columns=["Age"])
sc_X

         Age
0  -0.626150
1  -0.345022
2   0.357800
3   0.638929
4  -1.610100
5  -0.063893
6   1.201186
7  -0.766714
8  -1.047843
9   2.044572
10  0.217236